---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-localhost-pvc
spec:
  storageClassName: "{{ storage_class }}"
  accessModes:
    - ReadWriteMany
  resources:
    requests:
      storage: 30Gi